.transactionHistory {
  width: 80%;
  border-collapse: collapse;
  box-shadow: 0px 2px 3px 0px rgba(50, 50, 50, 0.75);
}

.transactionHistory th,
.transactionHistory td {
  padding: 10px;
  border: 1px solid rgb(155, 188, 238);
  width: 33.33%;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

.transactionHistory th {
  background-color: rgb(8, 209, 245);
  color: #fff;
  font-weight: 500;
}

.transactionHistory tr:nth-child(2n) {
  background-color: rgb(217, 239, 243);
}

.transactionHistory tr > td:first-child {
  text-transform: capitalize;
}

.transactionHistory td {
  color: #7d8283;
}
