.title {
  margin: 0;
  padding: 20px 0;
  font-size: 16px;
  text-transform: uppercase;
}

.statistics {
  max-width: 375px;
  padding: 0;
  box-shadow: 0px 2px 3px 0px rgba(50, 50, 50, 0.75);
  border-radius: 3px;
  margin-bottom: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

.statistics ul {
  width: 100%;
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  color: #fff;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
}

.item span {
  display: block;
  padding: 5px 0;
}

.color0 {
  background-color: rgb(15, 198, 211);
}

.color1 {
  background-color: rgb(141, 27, 235);
}

.color2 {
  background-color: rgb(194, 34, 109);
}

.color3 {
  background-color: rgb(22, 52, 219);
}
.color4 {
  background-color: rgb(5, 204, 38);
}

.label {
  font-size: 12px;
}
